* {
  margin: 0px;

  font-family: "inter";
}

#titulo-menusuperior {
  margin-left: 50px;

  padding-top: 50px;

  width: 1024px;
  
  height: 72px;
  
  left: 82px;
  
  top: 206px;

  font-family: 'Inter';
  
  font-style: normal;
  
  font-weight: 600;
  
  font-size: 60px;
  
  line-height: 120%;
  
  letter-spacing: -0.025em;
  
  font-feature-settings: 'liga' off;

  color: #FFFFFF;




  
}

#texto-menusuperior {
  margin-left: 50px;

  padding-top: 20px;

  padding-bottom: 100px;

  width: 1024px;
  
  height: 28px;
  
  left: 62px;
  
  top: 298px;

  font-family: 'Inter';
  
  font-style: normal;
  
  font-weight: 500;
  
  font-size: 20px;
  
  line-height: 140%;
  
  font-feature-settings: 'liga' off;

  color: #FFFFFF;


}

#menusuperior {
  background-color: #303030;

  color: aliceblue;
}

#menuinformacional {
  background-color: #eaece5;

  display: grid;

  grid-auto-flow: column;

  columns: auto;

  padding: 50px;

  font-family: "Inter";

  font-style: normal;

  font-size: 30px;

  line-height: 28px;

  color: #000000;

  
}

#menuhistoria {
  
  background-color: #ffffff;
  
  margin-top: 65px;
  
  margin-left: 65px;
  
  margin-bottom: 60px;
  
  display: grid;
  
  grid-auto-flow: column;
}

#titulo-menuhistoria {
  
  font-size: 30px;
  
  margin-top: 200px;
  
  margin-left: 62px;
  
  background-color: #ffffff;
}

#texto-menuhistoria {
  margin-left: 62px;
  
  background-color: #ffffff;
  
  font-family: "Inter";
  
  font-style: normal;
  
  font-weight: 300;
  
  font-size: 24px;
  
  line-height: 30px;
  
  display: flex;
  
  align-items: center;

  color: #000000;
}

#imgmenuhistoria {
  
  background-color: #ffffff;
  
  width: 510px;
  
  height: 605px;
  
  top: 781px;
  
  left: 876px;
  
  border-radius: 30px;
}

.titulo-apresentacao {
  padding: 50px;
}

#formulario {
  text-align: center;

  background-color: #303030;
}

#titulo-formulario {
  font-size: 20px;

  margin: 25px;

  padding-top: 50px;

  color: #ffffff;
}

input {
  width: 300px;

  height: 40px;

  background-color: #eaece5;

  margin: 15px;

  border: 0px;

  border-radius: 5px;

  padding-left: 10px;
}

button {
  background-color: #c07212;

  height: 40px;

  width: 250px;

  color: #eaece5;

  border: 0px;

  border-radius: 5px;

  margin-bottom: 50px;

  font-weight: bolder;

  cursor: pointer;
}

button:hover {
  background-color: #ff8c00;

  color: white;

  transform: translateY(-7px);

  box-shadow: 0px 15px 20px #05103081;

  transition-duration: 0.5s;
}
